<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Python Workshop</title>
</head>
<body>


    <ul class="navbar">
        <li><a href="#home">
            <img src="{{ url_for('static', filename='gdsc.png') }}">
        </a></li>
        <li><a href="https://gdsc.community.dev/hong-kong-baptist-university/">Join Us!</a></li>
    </ul>



    <div class="banner">
        <img src="{{ url_for('static', filename='banner.webp') }}" alt="">
    </div>

    <div class="intro">
      <h2>Python Workshop Tasks</h2>
    </div>



    <div class="solution">
        <div class="links-container">
          <div class="links">
            <h1>Easy Tasks!</h1>
            <!-- <a class="link-button" href="/countWords">Count Words</a> -->
            <a class="link-button" href="/average">Average Number!</a>
            <a class="link-button" href="/max">Maximums!</a>
            <a class="link-button" href="/min">Minimums!</a>
          </div>

          <div class="links">
            <h1>Medium Level Tasks!</h1>
            <a class="link-button" href="/palindrome">Palindromes!</a>
            <a class="link-button" href="/count_occurrences">Count Occurrences</a>
            <a class="link-button" href="/reverse">Reverse String!</a>
          </div>

          <div class="links">
            <h1>Difficult Tasks! 🥵!</h1>
            <a class="link-button" href="/factorial">Factorials!</a>
          </div>
        </div>

        
    </div>





    
</body>
</html>


